<center>
<img src="https://laelgelcpublic.s3.sa-east-1.amazonaws.com/lael_50_years_narrow_white.png.no_years.400px_96dpi.png" width="300" alt="LAEL 50 years logo">
<h3>APPLIED LINGUISTICS GRADUATE PROGRAMME (LAEL)</h3>
</center>
<hr>

# Creating a list of S3 filenames

- 'files1.csv' is a list of the files actually downloaded
  - aws s3 ls s3://laelgelctweets/ --human-readable --summarize > files1.txt
  - aws s3 cp files1.txt s3://gelc/
  - Formatting 'file1.txt' into 'file1.csv' via VS Code by replacing regex \s+ by ','

## Importing the required libraries

In [2]:
import pandas as pd

## Processing 'file1.csv'

In [4]:
df_files1 = pd.read_csv('files1.csv', header=None)

df_files1.drop(df_files1.columns[[0, 1, 2, 3]], axis=1, inplace=True)

df_files1.columns = pd.RangeIndex(df_files1.columns.size)

df_files1.sort_values(by=0, ascending=True, inplace=True)

df_files1.reset_index(drop=True, inplace=True)

df_files1.columns = ['filename-destination']

df_files1['filename-destination'].to_csv('files1-key.csv', index=False)

df_files1

                       filename-destination
0    archiveteam-twitter-stream-2018-03.tar
1           twitter-json-scrape-2011-09.zip
2           twitter-json-scrape-2011-10.zip
3           twitter-json-scrape-2011-11.zip
4           twitter-json-scrape-2011-12.zip
..                                      ...
413           twitter_stream_2019_12_27.tar
414           twitter_stream_2019_12_28.tar
415           twitter_stream_2019_12_29.tar
416           twitter_stream_2019_12_30.tar
417           twitter_stream_2019_12_31.tar

[418 rows x 1 columns]